config APP_HEARTBEAT_PERIOD_MS
    int "led blinking rate (ms)"
    default 500
    range 100 2000
    help
        SETS THE TOGGLING TIME OF LED
        
source "Kconfig.zephyr"        
rsource "drivers/my_driver/Kconfig"